
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

#ac
{
font-size:30px;
}

#bottle
{
font-size:30px;
}

#watch
{
font-size:30px;
}

#iron
{
font-size:30px;
}

#phone
{
font-size:30px;
}